.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;

}

a {
  text-decoration: none;
  color: black;
}

.title {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: rgb(4, 4, 87);
}

.registar-page form {
  max-width: 700px;
  margin: 0 auto;
display: flex;
flex-direction: column;
}

.registar-page form input {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(4, 4, 87);

}

.error {
  color: red;
}
.success {
  color: green;
}

.btn {
  display: block;
  background-color: rgb(4, 4, 87);
  color: white;
  border: none;
  padding: 20px;
}

.btn-outline {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  font-weight: 600;
  color: rgb(4, 4, 87);
  border: 1px solid rgb(4, 4, 87);
}

.special-text {
  color: rgb(6, 6, 255);
  border: none;
  background: none;
  z-index: 1;
  cursor: pointer;
}
.show {
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.p-div {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

#password {
width: 100%;
}